/* Pollenizer v1.0
 * Released: November 2011
 * Respect: Twitter Bootstrap (twitter.github.com/bootstrap) & Eric Meyer (meyerweb.com).
 * COLOURS:
   Blue:	0676BE
   Green: 	53b52b
   Red:		c01702
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* WEB FONTS  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@font-face{font-family:'websymbols';src:url('fonts/websymbols.eot');src:url('fonts/websymbols.eot?#iefix') format('embedded-opentype'),url('fonts/websymbols.woff') format('woff'),url('fonts/websymbols.ttf') format('truetype'),url('fonts/websymbols.svg#websymbols') format('svg')}
@font-face{font-family:'iconic';src:url('fonts/iconic.eot');src:url('fonts/iconic.eot?#iefix') format('embedded-opentype'),url('fonts/iconic.woff') format('woff'),url('fonts/iconic.ttf') format('truetype'),url('fonts/iconic.svg#iconic') format('svg')}

/* DEFAULT  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html {background:#eee;color:#222}
body {background:none;font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:300}
blockquote p {font:normal 2em/1.2 'Homemade Apple',Georgia}
h1,h2,h3,h4,h5,h6 {font-weight:bold;letter-spacing:-0.03em}
a {color:#1b75bb;text-decoration:none;-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-o-transition: all 0.1s ease;transition: all 0.1s ease}
a:hover {color:#222}
a:link {-webkit-tap-highlight-color:#1b75bb}
::-moz-selection {background:#1b75bb}
::selection {background:#1b75bb}
/* General */
.rounded {-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.innerLight {-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25)}
.innerDark {-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.25);-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,0.25);box-shadow:inset 0 1px 0 rgba(0,0,0,0.25)}
.textDark {text-shadow:0 1px 0 rgba(0,0,0,0.75)}
.textLight {text-shadow:0 1px 0 rgba(255,255,255,0.75)}

/* LAYOUT  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#content{background:#fff}

/* MODULES 
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.module {padding:10px;margin:0 0 20px 0;background:#eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.module p:last-child {margin:0}
.abstract {position:relative;clear:both;overflow:hidden}
.abstract img {float:left;margin:5px 10px 0 0}
/*  Header  */
#header {width:980px;margin:0 auto;padding:25px 0}
#header h5 a {background:transparent url(img/logo.png) no-repeat 0 0;height:70px;width:300px}
#header nav ul {float:right;margin:10px 10px 0 0}
#header nav li a {display:inline-block;padding:0 5px;color:#bbb;font-size:1.3em;text-shadow:0 1px 0 rgba(255,255,255,0.75)}
#header nav li a:hover,#header nav li.active a {color:#222}
/*  Headings  */
.title {border-bottom:3px solid #ddd;line-height:1;margin:0 0 15px 0;padding:0 0 10px 0}
.subtitle {line-height:1;margin:0 0 10px 0;padding:0 0 7px 0}
/* Messages */
.message {background:#ddd;padding:15px 20px 5px 20px;margin:0 0 10px 0;border:1px solid #ccc;text-shadow:0 1px 0 rgba(255,255,255,0.25);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25)}
.message.success {background-color:#53b52b;border-color:#53b52b}
.message.error {background-color:#c01702;border-color:#c01702;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.5)}
.message .close {margin:-5px -5px 0 10px}
/* Tables */
.tabular {border:4px solid #ccc;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}
.tabular table {margin:0;border:1px solid #fff;border-collapse:separate;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.tabular thead th {font-weight:bold;padding:8px;border:0;background:#0676BE;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.tabular tbody th {border:0;border-top:1px solid #ddd}
.tabular td {padding:8px;border:0;border-top:1px solid #ddd}
.tabular thead tr:first-child th:first-child {-webkit-border-radius:3px 0 0 0;-moz-border-radius:3px 0 0 0;border-radius:3px 0 0 0}
.tabular thead tr:last-child th:last-child {-webkit-border-radius:0 3px 0 0;-moz-border-radius:0 3px 0 0;border-radius:0 3px 0 0}
.tabular tbody tr:last-child td:last-child  {-webkit-border-radius:0 0 3px 0;-moz-border-radius:0 0 3px 0;border-radius:0 0 3px 0}
.tabular tbody tr:nth-child(2n+1) td,.tabular tbody tr:nth-child(2n+1) th {background-color:#eee}
/* Icons */
.websymbols {font-family:websymbols;font-size:20px}
.websymbols-large {font-family:websymbols;font-size:80px}
.iconic {font-family:iconic;font-size:30px}
.iconic-large {font-family:iconic;font-size:80px}
.twitter,.facebook,.email {background:transparent url(img/sprite.png) no-repeat 0 0;padding:5px 5px 5px 25px;line-height:2}
.twitter {background-position:0 0} 			.twitter:hover {background-position:0 -100px} 
.facebook {background-position:0 -200px}	.facebook:hover {background-position:0 -300px}
.email {background-position:0 -400px}		.email:hover {background-position:0 -500px}
.the-icons li {list-style:none}
.grid.dark-icons .grid-3 {background:#333;padding-top:20px}
.grid.dark-icons li {color:#fff}
/* Buttons */
.btn,form .submit input {display:inline-block;font-size:12px;font-weight:bold;line-height:12px;color:#fff;letter-spacing:normal;white-space:nowrap;background:#0676BE;border:1px solid #1250a5;height:auto;width:auto;cursor:pointer;padding:4px 8px 1px;text-shadow:0 -1px 0 rgba(0,0,0,0.25);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-webkit-appearance: none}
.btn:hover,.taglist a:hover, .btn.active {background:#222;border-color:#222;color:#fff}
.btn.small {font-size:11px;font-weight:normal;padding:3px 7px 4px;line-height:16px;width:auto}
.btn.inactive {background:#ddd;border-color:#ccc;color:#999;text-shadow:0 1px 0 rgba(255,255,255,0.75)}
.btn.inactive:hover {background:#ccc;color:#888;text-shadow:0 1px 0 rgba(255,255,255, 0.75)}
.btn.success {background-color:#53b52b;border-color:#53b52b}
.btn.success:hover {background:#0676BE;border-color:#1250a5;color:#fff}
.btn.error {background-color:#c01702;border-color:#c01702}
.tag {display:inline-block;font-size:1em;color:#fff;letter-spacing:normal;background:#ddd;border:1px solid #ccc;color:#888;cursor:pointer;padding:2px 10px 3px;margin-bottom:5px;text-shadow:0 1px 0 rgba(255,255,255, 0.75);-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;-moz-border-radius:100px;-webkit-border-radius:100px;-border-radius:100px}
.tag:hover {background:#bbb;color:#222;border-color:#aaa}
.taglist a {display:inline-block;font-size:12px;font-weight:bold;line-height:20px;color:#fff;letter-spacing:normal;white-space:nowrap;background:#0676BE;height:auto;width:auto;cursor:pointer;padding:3px 10px 4px;margin:0 0 5px 0;text-shadow:0 1px 0 rgba(0,0,0,0.5);-moz-border-radius:100px;-webkit-border-radius:100px;-border-radius:100px}
.close {color:#222;float:right;font-size:26px;font-weight:bold;line-height:13px;text-shadow:0 1px 0 rgba(255,255,255,0.5)}
.close:hover {color:#000;text-shadow:0 1px 0 rgba(255,255,255,0.85)}

/* FOOTER
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#footer {padding:25px 0}
#footer nav ul {text-align:center}
#footer nav li a {display:inline-block;padding:0 5px}

/* PAGE SPECIFIC
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Chart Form */
#formNav li {margin:2px 0;border-radius:4px}
#formNav li a {color:#fff;display:block;height:18px;line-height:18px;}
#formNav .active a, #formNav li:hover a {color:#fff}
#chart-settings fieldset {display:none}
fieldset.theme ul {border-bottom:1px solid #000;padding:5px 0}
fieldset.data .data-source {display:none;margin:0 0 20px;}
fieldset.data .data-source.dummy {display:block}
fieldset.data li.parent {display:none}
fieldset.data li.scaleX {margin-top:20px}

li.type-settings {display:none}

li.theme-background,
li.theme-header,
li.theme-labels,
li.theme-data {display:none}

.palette ol {margin:0;padding:0}
.palette li {list-style:none;position:relative;display:none;clear:none;height:26px;width:26px;float:left;margin:2px 1px 4px;padding:0;background:red;border-radius:2px;}
.palette li.selected {display:block}
.palette li input {display:none}


/* PLUGINS (jQuery)  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   MEDIA QUERIES  
*  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*  Landscape phones and down  */
@media (min-width:320px) and (max-width:640px) {
#header {width:auto}
#header nav {height:auto;margin:0 0 10px 0;text-align:center}
#header nav #logo {position:relative;margin:0 auto}
#header nav ul {clear:both;float:none;margin:0}
}

/*  Portrait tablet to landscape and desktop  */
@media (min-width:768px) and (max-width:768px) {
#header {width:720px}
}

/*  Large desktop  */
@media (min-width:1200px) {
#header {width:1155px}
}

/* iPhone Retina Display  */
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {
#header h5 a {background-image:url(img/logo@2x.png);background-size:300px 70px}
.twitter,.facebook,.email {background-image:url(img/sprite@2x.png);background-size:1000px 600px}
}