/* D3 Builder
 * Released: January 2013
 * Respect: Twitter Bootstrap (twitter.github.com/bootstrap) & Eric Meyer (meyerweb.com).
 * COLOURS:
   Blue:	0676BE
   Green: 	53b52b
   Red:		c01702
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* WEB FONTS  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@font-face{font-family:'websymbols';src:url('fonts/websymbols.eot');src:url('fonts/websymbols.eot?#iefix') format('embedded-opentype'),url('fonts/websymbols.woff') format('woff'),url('fonts/websymbols.ttf') format('truetype'),url('fonts/websymbols.svg#websymbols') format('svg')}
@font-face{font-family:'iconic';src:url('fonts/iconic.eot');src:url('fonts/iconic.eot?#iefix') format('embedded-opentype'),url('fonts/iconic.woff') format('woff'),url('fonts/iconic.ttf') format('truetype'),url('fonts/iconic.svg#iconic') format('svg')}

/*  Archivo  */
@font-face {
    font-family: 'archivo_narrowregular';
    src: url('fonts/Archivo_Narrow/archivonarrow-regular-webfont.eot');
    src: url('fonts/Archivo_Narrow/archivonarrow-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Archivo_Narrow/archivonarrow-regular-webfont.woff') format('woff'),
         url('fonts/Archivo_Narrow/archivonarrow-regular-webfont.ttf') format('truetype'),
         url('fonts/Archivo_Narrow/archivonarrow-regular-webfont.svg#archivo_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_narrowitalic';
    src: url('fonts/Archivo_Narrow/archivonarrow-italic-webfont.eot');
    src: url('fonts/Archivo_Narrow/archivonarrow-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Archivo_Narrow/archivonarrow-italic-webfont.woff') format('woff'),
         url('fonts/Archivo_Narrow/archivonarrow-italic-webfont.ttf') format('truetype'),
         url('fonts/Archivo_Narrow/archivonarrow-italic-webfont.svg#archivo_narrowitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_narrowbold_italic';
    src: url('fonts/Archivo_Narrow/archivonarrow-bolditalic-webfont.eot');
    src: url('fonts/Archivo_Narrow/archivonarrow-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Archivo_Narrow/archivonarrow-bolditalic-webfont.woff') format('woff'),
         url('fonts/Archivo_Narrow/archivonarrow-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/Archivo_Narrow/archivonarrow-bolditalic-webfont.svg#archivo_narrowbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_narrowbold';
    src: url('fonts/Archivo_Narrow/archivonarrow-bold-webfont.eot');
    src: url('fonts/Archivo_Narrow/archivonarrow-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Archivo_Narrow/archivonarrow-bold-webfont.woff') format('woff'),
         url('fonts/Archivo_Narrow/archivonarrow-bold-webfont.ttf') format('truetype'),
         url('fonts/Archivo_Narrow/archivonarrow-bold-webfont.svg#archivo_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  Quando  */
@font-face {
    font-family: 'quandoregular';
    src: url('fonts/Quando/quando-regular-webfont.eot');
    src: url('fonts/Quando/quando-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quando/quando-regular-webfont.woff') format('woff'),
         url('fonts/Quando/quando-regular-webfont.ttf') format('truetype'),
         url('fonts/Quando/quando-regular-webfont.svg#quandoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('fonts/Roboto/roboto-black-webfont.eot');
    src: url('fonts/Roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto/roboto-black-webfont.woff') format('woff'),
         url('fonts/Roboto/roboto-black-webfont.ttf') format('truetype'),
         url('fonts/Roboto/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('fonts/Roboto/roboto-bold-webfont.eot');
    src: url('fonts/Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto/roboto-bold-webfont.woff') format('woff'),
         url('fonts/Roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto/roboto-light-webfont.eot');
    src: url('fonts/Roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto/roboto-light-webfont.woff') format('woff'),
         url('fonts/Roboto/roboto-light-webfont.ttf') format('truetype'),
         url('fonts/Roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto/roboto-regular-webfont.eot');
    src: url('fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
         url('fonts/Roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* DEFAULT  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html {background:#eee;color:#222;height:100%;}
body {background:none;font-family:"archivo_narrowregular","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:300}
blockquote p {font:normal 2em/1.2 'Homemade Apple',Georgia}
h1,h2,h3,h4,h5,h6 {font-weight:bold;letter-spacing:-0.03em}
a {color:#1b75bb;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease}
a:hover {color:#222}
a:link {-webkit-tap-highlight-color:#1b75bb}
::-moz-selection {background:#1b75bb}
::selection {background:#1b75bb}
/* General */
.rounded {border-radius:6px}
.innerLight {-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25)}
.innerDark {-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.25);-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,0.25);box-shadow:inset 0 1px 0 rgba(0,0,0,0.25)}
.textDark {text-shadow:0 1px 0 rgba(0,0,0,0.75)}
.textLight {text-shadow:0 1px 0 rgba(255,255,255,0.75)}

/* LAYOUT  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#wrap {height:100%;}
#content{background:#eaedea;min-height:100%;box-shadow:inset 0px 0px 40px -5px rgba(0,0,0,0.2);overflow:auto;}
.page > section {width:100%;position:relative;clear:both;}

/* MODULES 
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.module {padding:10px;margin:0 0 5px 0;background:#f1f1f1;border:1px solid #bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-shadow:2px 2px 5px rgba(0,0,0,0.4)}
.module p:last-child {margin:0}
.abstract {position:relative;clear:both;overflow:hidden}
.abstract img {float:left;margin:5px 10px 0 0}
/*  Header  */
#header {width:980px;margin:0 auto;padding:25px 0}
#header h5 a {background:transparent url(img/logo.png) no-repeat 0 0;height:70px;width:300px}
#header nav ul {float:right;margin:10px 10px 0 0}
#header nav li a {display:inline-block;padding:0 5px;color:#bbb;font-size:1.3em;text-shadow:0 1px 0 rgba(255,255,255,0.75)}
#header nav li a:hover,#header nav li.active a {color:#222}
/*  Headings  */
.title {border-bottom:3px solid #ddd;line-height:1;margin:0 0 15px 0;padding:0 0 10px 0}
.subtitle {line-height:1;margin:0 0 10px 0;padding:0 0 7px 0}
/* Messages */
.message {background:#ddd;padding:15px 20px 5px 20px;margin:0 0 10px 0;border:1px solid #ccc;text-shadow:0 1px 0 rgba(255,255,255,0.25);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25)}
.message.success {background-color:#53b52b;border-color:#53b52b}
.message.error {background-color:#c01702;border-color:#c01702;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.5)}
.message .close {margin:-5px -5px 0 10px}
/* Tables */
.tabular {border:4px solid #ccc;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}
.tabular table {margin:0;border:1px solid #fff;border-collapse:separate;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.tabular thead th {font-weight:bold;padding:8px;border:0;background:#0676BE;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.tabular tbody th {border:0;border-top:1px solid #ddd}
.tabular td {padding:8px;border:0;border-top:1px solid #ddd}
.tabular thead tr:first-child th:first-child {-webkit-border-radius:3px 0 0 0;-moz-border-radius:3px 0 0 0;border-radius:3px 0 0 0}
.tabular thead tr:last-child th:last-child {-webkit-border-radius:0 3px 0 0;-moz-border-radius:0 3px 0 0;border-radius:0 3px 0 0}
.tabular tbody tr:last-child td:last-child  {-webkit-border-radius:0 0 3px 0;-moz-border-radius:0 0 3px 0;border-radius:0 0 3px 0}
.tabular tbody tr:nth-child(2n+1) td,.tabular tbody tr:nth-child(2n+1) th {background-color:#eee}
/* Icons */
.websymbols {font-family:websymbols;font-size:20px}
.websymbols-large {font-family:websymbols;font-size:80px}
.iconic {font-family:iconic;font-size:30px}
.iconic-large {font-family:iconic;font-size:80px}
.twitter,.facebook,.email {background:transparent url(img/sprite.png) no-repeat 0 0;padding:5px 5px 5px 25px;line-height:2}
.twitter {background-position:0 0} 			.twitter:hover {background-position:0 -100px} 
.facebook {background-position:0 -200px}	.facebook:hover {background-position:0 -300px}
.email {background-position:0 -400px}		.email:hover {background-position:0 -500px}
.the-icons li {list-style:none}
.grid.dark-icons .grid-3 {background:#333;padding-top:20px}
.grid.dark-icons li {color:#fff}
/* Buttons */
.btn,form .submit input {display:inline-block;font-size:12px;font-weight:normal;font-family:'quandoregular';line-height:12px;color:#fff;letter-spacing:normal;white-space:nowrap;background:#3c64c1;transition:background linear 0.2s;border:1px solid #1250a5;height:auto;width:auto;cursor:pointer;padding:2px 7px 0px;text-shadow:0 -1px 0 rgba(0,0,0,0.8);box-shadow:inset 2px 2px 3px rgba(255,255,255,0.4), 2px 2px 3px rgba(0, 0, 0, 0.3);-webkit-appearance: none;}
.btn:hover,.taglist a:hover, .btn.active {background:#142347;border-color:#142347;color:#fff}
.btn.small {font-size:11px;font-weight:normal;padding:3px 7px 4px;line-height:16px;width:auto}
.btn.inactive {background:#ddd;border-color:#ccc;color:#999;text-shadow:0 1px 0 rgba(255,255,255,0.75)}
.btn.inactive:hover {background:#ccc;color:#888;text-shadow:0 1px 0 rgba(255,255,255, 0.75)}
.btn.success {background-color:#53b52b;border-color:#53b52b}
.btn.success:hover {background:#0676BE;border-color:#1250a5;color:#fff}
.btn.error {background-color:#c01702;border-color:#c01702}
.tag {display:inline-block;font-size:1em;color:#fff;letter-spacing:normal;background:#ddd;border:1px solid #ccc;color:#888;cursor:pointer;padding:2px 10px 3px;margin-bottom:5px;text-shadow:0 1px 0 rgba(255,255,255, 0.75);-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;-moz-border-radius:100px;-webkit-border-radius:100px;-border-radius:100px}
.tag:hover {background:#bbb;color:#222;border-color:#aaa}
.taglist a {display:inline-block;font-size:12px;font-weight:bold;line-height:20px;color:#fff;letter-spacing:normal;white-space:nowrap;background:#0676BE;height:auto;width:auto;cursor:pointer;padding:3px 10px 4px;margin:0 0 5px 0;text-shadow:0 1px 0 rgba(0,0,0,0.5);-moz-border-radius:100px;-webkit-border-radius:100px;-border-radius:100px}
.close {color:#222;float:right;font-size:26px;font-weight:bold;line-height:13px;text-shadow:0 1px 0 rgba(255,255,255,0.5)}
.close:hover {color:#000;text-shadow:0 1px 0 rgba(255,255,255,0.85)}

/* FOOTER
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#footer {padding:25px 0}
#footer nav ul {text-align:center}
#footer nav li a {display:inline-block;padding:0 5px}

/* PAGE SPECIFIC
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
section[role="region"] .grid {overflow:visible;}
#actionNav {margin-bottom:0;overflow:visible;font-family:"quandoregular";}
#actionNav ul {float:left;padding:10px;}
#actionNav li {margin-right:-1px;}
#actionNav li.label {font-weight:bold;font-size:18px;text-shadow:0 1px 0px rgba(255,255,255,0.5);}
#actionNav #build-update {background:#207720;border:1px solid #1c681c;}
#actionNav #build-update:hover {background:#154915;border:1px solid #154915;}
#actionNav #build-update:focus {outline:0;border-color:rgba(21,73,21,0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(32,119,32,0.6);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(32,119,32,0.6);box-shadow:inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(32,119,32,0.6);}
#actionNav .icon-question-sign {margin:5px 5px 0;text-indent:-9000px;cursor:pointer;}
#actionNav .helpContent {background:#fff;box-shadow:3px 3px 6px 2px rgba(0,0,0,0.3);border-radius:10px;padding:10px;min-height:200px;}
#actionNav .helpContent code strong {color:red;}
/* Chart Form */
.helpBox {display:none;}
#formNav li {margin:1px -1px;border-radius:4px}
#formNav li a {color:#fff;display:block;height:18px;line-height:18px;text-decoration:none;}
#formNav li.inactive a, #formNav li.inactive:hover a {color:#999;}
#formNav .active a, #formNav li:hover a {color:#fff}
#chart-settings {padding:10px 5px;}
#chart-settings fieldset {display:none}
#chart-settings fieldset li {padding:2px 0px 9px;margin:0 5px;border-top:1px solid #fff;border-bottom:1px solid #ddd;}
#chart-settings fieldset li:first-child {border-top:0;}
#chart-settings fieldset li:last-child {border-bottom:0;}
#chart-settings fieldset.type li {border:0;}
#chart-settings fieldset li.error label, #chart-settings fieldset li.valid label {color:#000;}
#chart-settings fieldset span.error {font-size:12px;}
#chart-settings fieldset li.valid {background:none;}
#chart-settings fieldset li.valid .error {display:none;}
#chart-settings fieldset li .icon-question-sign {margin-top:2px;margin-right:5px;text-indent:-9000px;cursor:pointer;float:right;}
#chart-settings fieldset li > label {display:inline-block;}
fieldset.theme ul {padding:5px 0}
fieldset.data .data-source {display:none;margin:0 0 20px;}
fieldset.data .data-source.dummy {display:block}
fieldset.data .data-source.dummy .nested,
fieldset.data .data-source.dummy .quantitative,
fieldset.data .data-source.dummy .matrix {display:none;}
fieldset.data li.parent {display:none}
fieldset.data li.scaleX {margin-top:20px}

li.type-settings {display:none}

li.theme-background,
li.theme-header,
li.theme-labels,
li.theme-data {display:none}
#theme-background-color, #theme-header-color, #theme-label-color, #theme-data-border-color {display:inline-block;}

#chart-settings .palette {padding-top:5px;}
#chart-settings .palette ol {margin:0;padding:0}
#chart-settings .palette li {list-style:none;position:relative;display:none;clear:none;height:26px;width:26px;float:left;margin:2px 1px 4px;padding:0 !important;border-radius:2px;}
#chart-settings .palette li.selected {display:block}
#chart-settings .palette li input {display:none}

#chart-grid {position:relative;width:auto;padding-right:230px;float:none;margin:0;}
#chart-grid .module {}
#control-panel {position:absolute;top:0px;right:5px;z-index:1;margin:0;}
#control-panel legend {display:block;text-align:center;padding:5px 0 20px;width:100%;font-family: 'quandoregular';text-shadow:0 1px 0px rgba(255, 255, 255, 0.75);text-decoration:underline;}
#chart-preview {text-align:center;padding:20px;}


/* PLUGINS (jQuery)  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#popupBox {}
#popupBox table {margin:0;}
#popupBox td {margin:0;padding:0;border:0;}
#popupBox .helpContent {background:#fff;box-shadow:3px 3px 6px 2px rgba(0,0,0,0.3);border-radius:4px;padding:10px;min-height:200px;}
#popupBox .helpContent code strong {color:red;}
#popupBox h2 {margin:10px 0 20px;text-align:center;font-size:20px;font-family:"quandoregular";text-decoration:underline;}
#popupBox p {margin:0 20px 15px;}
#popupBox ul, #popupBox ol {margin:0 20px 15px;}
#popupBox li {margin-bottom:10px;}
#popupBox code {margin:0 20px 10px;display:block;padding:10px 15px;background:#efefef;border-radius:4px;border:1px solid #ddd;}
.popupClose {display:block;position:absolute;top:10px;right:10px;text-indent:-9000px;}
#popupBox .helpContent .chart-pie,
#popupBox .helpContent .chart-pack,
#popupBox .helpContent .chart-sunburst,
#popupBox .helpContent .chart-force,
#popupBox .helpContent .chart-area,
#popupBox .helpContent .chart-bar,
#popupBox .helpContent .chart-chord {display:none;}

.current-chart-pie #popupBox .helpContent .chart-pie {display:block;}
.current-chart-pack #popupBox .helpContent .chart-pack {display:block;}
.current-chart-sunburst #popupBox .helpContent .chart-sunburst {display:block;}
.current-chart-force #popupBox .helpContent .chart-force {display:block;}
.current-chart-area #popupBox .helpContent .chart-area {display:block;}
.current-chart-bar #popupBox .helpContent .chart-bar {display:block;}
.current-chart-chord #popupBox .helpContent .chart-chord {display:block;}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   MEDIA QUERIES  
*  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*  Landscape phones and down  */
@media (min-width:320px) and (max-width:767px) {
#header {width:auto}
#header nav {height:auto;margin:0 0 10px 0;text-align:center}
#header nav #logo {position:relative;margin:0 auto}
#header nav ul {clear:both;float:none;margin:0}
#control-panel {position:static;right:0;}
#actionNav li.label {display:block;}
}

/*  Portrait tablet to landscape and desktop  */
@media (min-width:768px) and (max-width:768px) {
#header {width:720px}
#control-panel {position:absolute;right:10px;}
}

/*  Large desktop  */
@media (min-width:1200px) {
#header {width:1155px}
}

/* iPhone Retina Display  */
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {
}