/* Pollenizer v1.0
 * Released: November 2011
 * Respect: Twitter Bootstrap (twitter.github.com/bootstrap) & Eric Meyer (meyerweb.com).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* RESET  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,hr,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;font-size:100%;font:inherit;outline:0;vertical-align:baseline;-webkit-font-smoothing:antialiased}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
html {background:white;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body {min-height:100%;font:13px/18px Helvetica,Arial,sans-serif}
table {border-collapse:collapse;border-spacing:0}
td {vertical-align:top} 
input,select {vertical-align:middle}
textarea,input,button {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
nav ul,nav ol,nav li {margin:0;padding:0;list-style:none;list-style-image:none}
img,a img {border:0}
html>body img {*-ms-interpolation-mode:bicubic}
a {color:#09f;outline:none}
a:hover {outline:none}
a:active {outline:none}
a:link {-webkit-tap-highlight-color:#09f} 
/* Forms  */
legend {*margin-left:-7px} 
textarea {overflow:auto}
input[type="radio"] {vertical-align:text-bottom}
input[type="button"],input[type="submit"],input[type="image"],button {cursor:pointer}
input[type="checkbox"] {vertical-align:bottom;*vertical-align:baseline}
button,input,select,textarea {margin:0}
input:invalid,textarea:invalid {background:#f0dddd}
button {width:auto;overflow:visible}
select,input,textarea,button {font:99% sans-serif}
option,select {min-width:1.5em} 
/*  Typography  */
html {-webkit-text-size-adjust:none}
sub,sup {font-size:0.72em;line-height:0;position:relative}
sup {top:-0.5em}
sub {bottom:-0.25em}
pre {padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
pre,code,kbd,samp {font-family:"Courier New",Courier,monospace,sans-serif}
strong,th,b,h1,h2,h3,h4,h5,h6 {font-weight:bold}
em {font-style:italic}
h1,h2,h3,h4,h5,h6 {margin:0;font-weight:600;font-family:"Helvetica Neue",helveticaneue,helveticaneueroman,"helvetica neue roman",Helvetica,Arial,sans-serif;color:#222;line-height:1.2}
h1 {font-size:30px}
h2 {font-size:24px}
h3 {font-size:18px}
h4 {font-size:14px}
h5 {font-size:12px}
h6 {font-size:11px;color:#999999;text-transform:uppercase}
h4,h5,h6 {line-height:18px}
h1 em,h2 em,h3 em,h4 em,h5 em,h6 em {font-style:normal;font-weight:normal;font-size:50%;color:#999;letter-spacing:-0.01em;white-space:nowrap}
small {font-size:100%}
ul,ol {padding-left:2em}
ol li {list-style-type:decimal}
ul li {list-style-type:disc}
dl dt {font-weight:bold}
dl dd {margin:0 0 15px 10px}
hr {display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ins {background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del {text-decoration:line-through}
blockquote,q {quotes:none;padding:15px}
blockquote p:before,blockquote p:after,q:before,q:after {content:'"';}
blockquote small {display:block;color:#999;text-align:right;font-size:1em}
table {width:100%;text-align:left;border-collapse:collapse}
table th {font-weight:bold;padding:5px;border:1px solid #ddd}
table td {padding:5px;border:1px solid #ddd}
p,dl,hr,ol,ul,pre,table,address,fieldset,blockquote {margin-bottom:20px}
/* These selection declarations have to be separate */
::-moz-selection {background:#09f;color:#fff;text-shadow:none}
::selection {background:#09f;color:#fff;text-shadow:none}
:focus {outline:0}

/* LAYOUT  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#wrap,#header,#content,#footer {clear:both}
footer {clear:both}
/*  Grid  */
#content {margin:0 auto;width:940px;padding:20px 20px 0}
.grid {clear:both;width:960px;margin:0 0 20px -20px;overflow:hidden}
[class*="grid-"] {float:left;margin-left:20px}
.grid-1 {width:60px}
.grid-2 {width:140px}
.grid-3 {width:220px}
.grid-4 {width:300px}
.grid-5 {width:380px}
.grid-6 {width:460px}
.grid-7 {width:540px}
.grid-8 {width:620px}
.grid-9 {width:700px}
.grid-10 {width:780px}
.grid-11 {width:860px}
.grid-12 {width:940px}
.push-1 {margin-left:80px}
.push-2 {margin-left:180px}
.push-3 {margin-left:260px}
.push-4 {margin-left:340px}
.push-5 {margin-left:420px}
.push-6 {margin-left:500px}
.push-7 {margin-left:580px}
.push-8 {margin-left:660px}
.push-9 {margin-left:740px}
.push-10 {margin-left:820px}
.push-11 {margin-left:900px}

/*
.grid-fluid .grid-1 {width:4.85%}
.grid-fluid .grid-2 {width:13.45%}
.grid-fluid .grid-3 {width:22.05%}
.grid-fluid .grid-4 {width:30.75%}
.grid-fluid .grid-5 {width:39.45%}
.grid-fluid .grid-6 {width:48%}
.grid-fluid .grid-7 {width:56.75%}
.grid-fluid .grid-8 {width:65.4%}
.grid-fluid .grid-9 {width:74.05%}
.grid-fluid .grid-10 {width:82.7%}
.grid-fluid .grid-11 {width:91.35%}
.grid-fluid .grid-12 {width:100%;margin:0}
.grid-fluid .grid .last {margin-right:0}*/

.clear:before,.clear:after,.grid,#wrap,#header,#content,#footer {*zoom:1}
.clear:after,.grid:before,.grid:after,#wrap:before,#wrap:after,#header:before,#header:after,#content:before,#content:after,#footer:before,#footer:after {display:table;content: "";*display:inline}
.clear,.grid:after,#wrap:after,#header:after,#content:after,#footer:after {clear:both}


/* FORMS  
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
form fieldset {clear:both;display:block}
form ul {margin:0;padding:0}
form li {list-style:none;padding:2px 0;margin:0;display:block;clear:both;overflow:hidden}
form li > label {display:block;float:left;text-align:right;margin:1% 2% 0 0;width:35%}
form li p {display:block;float:left;width:35%}
form legend {display:block;font-size:1em;line-height:1;padding:0 0 10px 37%;font-weight:bold}
label,input,select,textarea {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;margin:0 1% 0 0;}
input,textarea,select,.uneditable-input,form input[type="file"] {width:35%;border:1px solid #ccc;display:inline-block;font-size:13px;min-height:24px;padding:4px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
input.large,textarea.large,select.large {width:50%}
input.small,textarea.small,select.small {width:10%}
form select,form input[type="file"] {height:26px}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly] {background-color:#F5F5F5;border-color:#ddd;cursor:not-allowed}
select[multiple] {height:inherit}
textarea {height:auto;overflow-y:auto}
form input.submitField {margin-left:37%}
form li.help, form li.error {padding:5px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
form li.help {background:#e5f9db;color:#390}
form li.error {background:#FAE5E3;color:#c01702}
form li.error input,form li.error textarea,form li.error select,form li.error .form-input {border-color:#c01702}
form li > em {display:inline-block;font-style:normal;font-size:0.9em;font-weight:bold;margin-left:37%}
form li > em.error .help {color:#390}
form li > em.error {color:#c01702}
form li .btn {display:inline-block}
:-moz-placeholder {color:#ccc}
::-webkit-input-placeholder {color:#ccc}
/* radio and selectbox fields  */
.fieldBox {width:200px;float:left}
.fieldBox span {clear:both;width:100%;display:block}
.fieldLabel {text-align:right}
/*stacked forms */
.form-stacked input,.form-stacked textarea,.form-stacked select,.form-stacked .uneditable-input {display:block;width:100%}
.form-stacked input.small,.form-stacked textarea.small,.form-stacked select.small,.form-stacked .uneditable-input.small {width:50%;display:inline-block} 
.form-stacked li > label, .form-stacked .fieldLabel {width:auto;float:none;margin:0 0 5px 0;text-align:left}
.form-stacked legend {padding:0 0 10px 0}
.form-stacked .radioField, .form-stacked .checkField {display:inline-block;width:auto;float:right;min-height:1em}
.form-stacked .btn {width:auto}
.form-stacked li > em {margin:0}
.form-stacked li > em.error {clear:both;display:block;height:1.3em}
.form-stacked input.submitField {margin-left:0}
/*cake forms */
form legend {display:inline-block;font-size:1em;line-height:1;padding:0 0 10px 37%;font-weight:bold}
form .input {list-style:none;padding:5px 0;margin:3px 0;display:block;clear:both;overflow:hidden}
form .input label {display:block;float:left;text-align:right;margin:0.5% 2% 0 0;width:35%}
form .input p {display:block;float:left;width:35%}
form .input.radio,form .input.checkbox {position:relative}
form .input.radio fieldset legend {font-weight:normal;display:block;padding:0;text-align:right;position:absolute;top:10px;left:0;width:35%}
form .input.radio fieldset {margin-left:37%}
form .input.radio fieldset label,form .input.radio fieldset input {display:inline-block;float:none;width:auto}
form .error {color:#c01702}
form .form-error {border-color:#c01702}
form .input > .error-message {display:inline-block;font-style:normal;font-size:0.9em;font-weight:bold;margin-left:37%;color:#c01702}
form li > em.error,form .input > em.error {color:#c01702}
.form-stacked .input input,.form-stacked .input textarea,.form-stacked .input select {width:100%}
.form-stacked .input > label {width:auto;float:none;margin:0 0 5px 0;text-align:left}
.form-stacked .input > em {margin:0}
.form-stacked .input > .error-message {clear:both;display:block;height:1.3em}
/* effects */
input,textarea {-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);box-shadow:inset 0 1px 3px rgba(0,0,0,0.1)}
input:focus,textarea:focus {outline:0;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6)}
input[type="submit"]:hover {-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:1px dotted #666}

/* NAVIGATION 
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
nav li {display:inline-block;width:auto}

/* MODULES 
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*  Defaults  */
.module {position:relative}
.t-right {text-align:right}
.t-left {text-align:left}
.t-center {text-align:center}
.f-right {float:right}
.f-left {float:left}
.f-center {float:none;margin:0 auto}
.reset {margin:0;padding:0}
.ir {display:block;overflow:hidden;background-repeat:no-repeat;text-align:left;text-indent:-9000em;direction:ltr}
.hide {text-indent:100%;white-space:nowrap;overflow:hidden}
.click {cursor:pointer}
.kern {letter-spacing:-0.03em}
.inhale {padding:0 10px}
.exhale {margin:0 10px}
/*  List styles  */
ul.list {padding:0}
ul.list li {list-style:none}
/* Animation */
.ease {-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-ms-transition:all 0.2s ease;-o-transition:all 0.2s ease}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   MEDIA QUERIES  
*  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*  Landscape phones and down  */
@media (min-width:320px) and (max-width:640px) {
#content {width:auto;padding:10px}
.grid {width:auto;margin:0 auto}
[class^="grid-"]{float:none;width:auto;margin:0 0 15px 0;clear:both}
input,textarea,select,.uneditable-input {display:block}
input.small,textarea.small,select.small {width:50%}
input,textarea,select,.uneditable-input {width:75%}
input.large,textarea.large,select.large,form .input input,form .input textarea,form .input select {width:96%}
form li > label,form .input > label {width:auto;float:none;margin:0 0 5px 0;text-align:left}
form li > em,form .input > .error-message {margin:0}
form legend {padding:0 0 10px 0}
}
     
/*  Portrait tablet to landscape and desktop  */
@media (min-width:768px) and (max-width:768px) {
#content {padding:10px;width:720px}
.grid {width:720px}
.grid-1 {width:40px}
.grid-2 {width:100px}
.grid-3 {width:160px}
.grid-4 {width:220px}
.grid-5 {width:280px}
.grid-6 {width:340px}
.grid-7 {width:400px}
.grid-8 {width:460px}
.grid-9 {width:520px}
.grid-10 {width:580px}
.grid-11 {width:640px}
.grid-12 {width:700px}
.push-1 {margin-left:60px}
.push-2 {margin-left:140px}
.push-3 {margin-left:200px}
.push-4 {margin-left:260px}
.push-5 {margin-left:320px}
.push-6 {margin-left:380px}
.push-7 {margin-left:440px}
.push-8 {margin-left:500px}
.push-9 {margin-left:560px}
.push-10 {margin-left:620px}
.push-11 {margin-left:702px}
}
     
/*  Large desktop  */
@media (min-width:1200px) {
#content {width:1155px}
.grid {width:1140px;margin-left:-25px}
[class*="grid-"] {margin-left:25px}
.grid-1 {width:70px}
.grid-2 {width:165px}
.grid-3 {width:260px}
.grid-4 {width:355px}
.grid-5 {width:450px}
.grid-6 {width:545px}
.grid-7 {width:640px}
.grid-8 {width:735px}
.grid-9 {width:830px}
.grid-10 {width:925px}
.grid-11 {width:1020px}
.grid-12 {width:1115px}
.push-1 {margin-left:95px}
.push-2 {margin-left:215px}
.push-3 {margin-left:310px}
.push-4 {margin-left:405px}
.push-5 {margin-left:500px}
.push-6 {margin-left:595px}
.push-7 {margin-left:690px}
.push-8 {margin-left:785px}
.push-9 {margin-left:880px}
.push-10 {margin-left:975px}
.push-11 {margin-left:1070px}
.push-12 {margin-left:1140px}
}

/*  Print  */
@media print {
* {background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important} 
a,a:visited {color:#444 !important; text-decoration:underline}
a[href]:after {content:" (" attr(href) ")"}
abbr[title]:after {content:" (" attr(title) ")"}
a[href^="javascript:"]:after,a[href^="#"]:after {content:""}
pre,blockquote {border:1px solid #999;page-break-inside:avoid}
thead {display:table-header-group}
tr,img {page-break-inside:avoid}
#wrap,#page {width:100%;margin:0}
p,h2,h3 {orphans:3;widows:3}
h2,h3 {page-break-after:avoid}
section {page-break-inside:avoid;page-break-before:avoid;color:red}
}

/* Icon Set */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}
.btn [class^="icon-"] {
	margin-top:2px;
}
.btn.small [class^="icon-"] {
	margin-top:0;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url("img/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}
